/*----- HERO IMAGE -----*/
.hero-container {
  height: 100vh;
}

.hero-container img {
  width: 100%;
  object-fit: cover;
}

#hero {
  position: relative;
  display: flex;
  justify-content: center;
}

.hero-text {
  font-family: "Rampart One", sans-serif; /* GOOGLE FONT */
  font-weight: 500;
  font-style: normal;
  color: white;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*----- CONTENT -----*/
.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* CREATING TWO COLUMNS */
  text-align: center;
  background-color: #8c7f69;
  color: #fff;
}

.content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* CENTER HORIZONTALLY */
  text-align: center;
  padding: 0 7vw;
}

.content-img {
  max-width: 100%; /* IMAGE FILLS WIDTH OF COLUMN */
  max-height: 100%; /* IMAGE FILLS HEIGHT OF COLUMN */
}

/*----- MOBILE -----*/
@media screen and (max-width: 768px) {
  .content-container {
    grid-template-columns: 1fr; /* CHANGE TO ONE COLUMN */
  }

  .content-img {
    padding-top: 5vh;
    max-width: 100%; /* IMAGE FILLS WIDTH OF COLUMN */
    max-height: 100%; /* IMAGE FILLS HEIGHT OF COLUMN */
  }
}

/*----- ACCORDION -----*/
.accordion-container {
  background-color: #485930;
  color: #fff;
  height: auto;
}

.accordion {
  background-color: #485930;
  color: #ffffff;
  cursor:pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  position: relative;
  padding-right: 24px;
}

.active, .accordion:hover { 
  background-color: #9ba666; /* CHANGE HOVER COLOUR */
}

.accordion svg {
  position: absolute;
  padding-right: 3vh;
  right: 0; /* MOVE ICON TO RIGHT OF BUTTON */
}

.panel {
  padding: 0 18px;
  background-color: #485930;
  display: none;
  overflow: hidden;
}
/* STARTER CARDS */
.card {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0rem 0.125rem 1.5rem rgb(0 0 0 / 12%);
  width: 24rem;
}

img {
  border-bottom: 0.25rem;
  border-radius: 0.25rem 0.25rem 0 0;
  height: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  img {
    min-height: 15.5rem;
  }
}

@media screen and (min-width: 1200px) {
  img {
    min-height: 16.375rem;
  }
}

.card-content {
  padding: 1rem;
}

.header,
.subheader {
  margin: 0;
}

/*CARD (MY CODE)*/
.card-container {
  gap: 10px; /* Gap of 20 pixels between all animal cards */
}

.card {
  width: 100%; /* Cards will fill the width of their container */
}

.card img {
  object-fit: cover; /* Ensure the aspect ratio is maintained while covering the entire container */
}

/* Mobile */
@media screen and (max-width: 768px) {
  .card-container {
      display: flex; /* Cards will be laid out in a flex container and wrap below each other */
      flex-wrap: wrap;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .card-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Two columns, each occupying an equal fraction of available space */
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .card-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Three columns, each occupying an equal fraction of available space */
  }
}

/*----- FOOTER -----*/
.footer-container {
  display: grid;
  grid-column: span 3;

}

footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* FIVE COLUMNS */
  text-align: left;
  padding: 1vh;
  background-color: #c1b5a7;
  color: black;
  justify-content: space-around;
}

.nav {
  text-align: left;
  padding-left: 4vh;
}

.map-container {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 6;
  position: relative;
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  top: 1vh;
  right: 1vh;
  width: 100%;
  height: 100%;
}

.map {
  max-height: 25vh;
}

#footer {
  text-align: center;
  grid-column: span 5; /* EXTEND COPYRIGHT TO SPAN THE WHOLE PAGE */
  padding-top: 1vh;
  padding-bottom: 1vh;
}
